
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.heading{
  text-align:center;
  color:black
}
body{
  font-family: Helvetica, Arial, sans-serif;
}
h1{
  text-align:center;
  font-family: Helvetica, Arial, sans-serif;
  color:black;
}
#navbarNav {
  background-color: rgba(20, 112, 187, 0.849);
}
.wordss{
  color:blanchedalmond;
  background-color:black;
}
.jumbotron {
  padding 10px;
}

#yoyo {
  width: 180px;
  float: right;
}

#myphot {
  width : 180px;
  float: left;
}

.marksbitch {
  margin: auto;
  

  padding: 10px;
  
  background-color:whitesmoke;
  color:black;
}
.btn {  
justify-content: center;  
align-items: center;
}
.lead {
  text-align: center;
}




